<% c++ #include "data/blog/master.h" %>
<% skin %>
<% view master uses data::blog::master extends basic_master %>
<% template title() %><%= info.blog_title %><% end template %>
<% template menu() %>
<a href="<% url "/blog/summary" %>"><% gt "Home" %></a>
&nbsp;/&nbsp;
<a href="<% url "/feed/posts" %>"><% gt "RSS" %></a>
&nbsp;/&nbsp;
<a href="<% url "/feed/comments" %>"><% gt "RSS Comments" %></a>
<% include menu_addons() %>
&nbsp;/&nbsp;
<a href="<% url "/admin/summary" %>"><% gt "Enter" %></a>
<% end template %>
<% template menu_addons() %><% end template %>
<% template menu_addon_prefix() %> &nbsp;/&nbsp; <% end template %>
<% template menu_addon_suffix() %><% end template %>
<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<%= media  %>/contendend.css" rel="stylesheet" type="text/css" />
<% if rtl %>
	<link href="<%= media %>/contendend-rtl.css" rel="stylesheet" type="text/css" />
<% else %>
	<link href="<%= media %>/contendend-ltr.css" rel="stylesheet" type="text/css" />
<% end %>
<link rel="alternate" type="application/rss+xml" title="RSS Posts" href="<% url "/feed/posts" %>" >
<link rel="alternate" type="application/rss+xml" title="RSS Comments" href="<% url "/feed/comments" %>" >
</head>
<body>
<% include scripts() %>
<div id="page">
<div id="header">
<div id="navall" >
	<div id="nav">
		<ul>
			<!-- <li><a href=""><% gt "About" %></a></li> -->
			<li><a class="selected" href=""><% gt "Home" %></a></li>
		</ul>
	</div>
</div>
<div id="title"><%= info.blog_title %></div>
<div id="slogan"><%= info.blog_description %></div>
</div> <!-- end header -->

<div id="path">
<% include menu() %>
</div>

<% if not rtl %>
	<div id="maincontent">
	<% include master_content() %>
	</div>
	<div id="sidecontent">
	<% include sidebar() %>
	</div>
<% else %>
	<div id="sidecontent">
	<% include sidebar() %>
	</div>
	<div id="maincontent">
	<% include master_content() %>
	</div>
<% end %>

<div id="footer">
	<div id="copyrightdesign" ><% gt "Based on Design by <a href=\"http://ContentedDesigns.com\">Contented Designs</a>" %>
	</div>
	<div id="footercontact">
		<a href="<%= info.contact %>"><% gt "Contact" %></a>
	</div>
</div>
</div>
</body>
</html>
<% end template %>
<% template sidebar() %>
<% cache "sidebar" on miss load_sidebar() %>
<% foreach page in sidebar.pages %>
	<h2><% gt "Pages" %></h2>
	<ul>
		<% item %>
		<li><a href="<% url "/blog/page" using page.id %>"><%= page.title %></a></li>
		<% end %> 
	</ul>
<% end %>

<% foreach cat in sidebar.cats %>
<h2><% gt "Categories" %></h2>
	<ul>
	<% item %>
		<li><a href="<% url "/blog/summary/category" using cat.id %>"><%= cat.name %></a></li>
	<%end%>
	</ul>
<% end %>

<div id="copyright"><% trigger "options" %>
<% if not empty info.copyright_string %>
	<%= info.copyright_string | ext markdown2html %>
<% else %>
	<% gt "&copy; All Rights Reserved" %>
<% end %>
</div>
<% end cache %>
<% end template %>
<% template master_content() %>
<% end %>
<% end view %>
<% end skin %>
