<% c++ #include "data/blog/master.h" %>
<% skin %>
<% view master uses data::blog::master extends basic_master %>
<% template title() %><%= info.blog_title %><% end template %>
<% template menu() %>
<ul>
	<li><a href="<% url "/blog/summary" %>"><% gt "Home" %></a></li>
	<li><a href="<% url "/feed/posts" %>"><% gt "RSS" %></a></li>
	<li><a href="<% url "/feed/comments" %>"><% gt "RSS Comments" %></a></li>
	<% include menu_addons() %>
	<li><a href="<% url "/admin/summary" %>"><% gt "Enter" %></a></li>
</ul>
<% end template %>
<% template menu_addons() %><% end template %>
<% template menu_addon_prefix() %><li><% end template %>
<% template menu_addon_suffix() %></li><% end template %>
<% template render() %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if rtl %>
<link href="<%= media  %>/orangesky-rtl.css" rel="stylesheet" type="text/css" />
<% else %>
<link href="<%= media  %>/orangesky-ltr.css" rel="stylesheet" type="text/css" />
<% end %>
<link rel="alternate" type="application/rss+xml" title="RSS Posts" href="<% url "/feed/posts" %>" >
<link rel="alternate" type="application/rss+xml" title="RSS Comments" href="<% url "/feed/comments" %>" >
</head>
<body>
<% include scripts() %>
<div id="page">
	<% if rtl %>
	<div id="maincontent">
		<% include maincontent() %>
	</div>
	<div id="sidecontent">
		<% include sidebar() %>
	</div>
	<% else %>
	<div id="sidecontent">
		<% include sidebar() %>
	</div>
	<div id="maincontent">
		<% include maincontent() %>
	</div>
	<% end %>
	<div id="footer">
		<div id="footercontact">
			<a href="<%= info.contact %>"><% gt "Contact" %></a>
		</div>
		<div id="footerdesign">
			<% gt "The template design based on WordPress OrangeSky template by Naoko McCracken" %>
		</div>
	</div> <!-- footer -->
</div>
</body>
</html>
<% end template %>
<% template maincontent() %>
		<div id="menu">
			<% include menu() %>
		</div> <!-- menu -->
		<div id="header">
			<div id="headerimg">
				<h1><%= info.blog_title %></h1>
				<p class="description"><%= info.blog_description %></p>
			</div>
		</div> <!-- end header -->
		<div id="pagecontent">
			<% include master_content() %>
		</div> <!-- pagecontent -->
<% end %>
<% template sidebar() %>
<% cache "sidebar" on miss load_sidebar() %>
<% foreach page in sidebar.pages %>
	<h2><% gt "Pages" %></h2>
	<ul>
		<% item %>
		<li><a href="<% url "/blog/page" using page.id %>"><%= page.title %></a></li>
		<% end %> 
	</ul>
<% end %>

<% foreach cat in sidebar.cats %>
<h2><% gt "Categories" %></h2>
	<ul>
	<% item %>
		<li><a href="<% url "/blog/summary/category" using cat.id %>"><%= cat.name %></a></li>
	<%end%>
	</ul>
<% end %>

<div id="copyright"><% trigger "options" %>
<% if not empty info.copyright_string %>
	<%= info.copyright_string | ext markdown2html %>
<% else %>
	<% gt "&copy; All Rights Reserved" %>
<% end %>
</div>
<% end cache %>
<% end template %>
<% template master_content() %>
<% end %>
<% end view %>
<% end skin %>


